# Logs
logs
*.log

.DS_Store
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

coverage.out
coverage.html

*.so
/data
/dist
/ctl/dist
node_modules
package.json
package-lock.json